* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    text-align: center;
    overflow-y: scroll;
    background-image: url("../static/pics/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 110%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-left: 1.5px solid #ccc; 
  border-bottom: 1.5px solid #ccc; 
  border-radius: 0 0 0 10px;
  margin-left: 88%;
}


.hamburger1 {
  cursor: pointer;
  position: absolute;
  right: 8px;
  font-size: 35px;
  color: rgb(42, 42, 93);
}

.burger-menu1 {
  display: none;
  position: fixed;
  top: 32px;
  right: 0;
  width: 12%;
  background-color: black;
}

.logo {
  font-size: 20px;
  font-family: "Vtks MilkShake", sans-serif;
  font-weight: bold;
  color: rgb(42, 42, 93);
  padding-left: 10px;
  padding-top: 3px;
}

.logo:hover {
  text-decoration: none;
}


.burger-menu1 a {
  text-align: right;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 13px;
  transition: color 0.3s;
}

.burger-menu1 a:hover {
  background-color: #ccc;
  color: #337ab7;

}

.burger-menu1.show1 {
  display: block;
}

.fictitious-element {
  position: absolute;
  top: 20px;
  right: 100px;
}


.main-page{
    background-color: white;
    margin-inline: 7%;
    padding-inline: 10%;
    padding-block: 3%;
    height: 100%;
    margin-top: 15vh;
    border-radius: 10px;
    text-align: left;
}


h1 {
  margin-top: 5%;
  color: white;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  margin-inline: 17%;
}

h4 {
  margin-top: 45px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.list-with-text {
  background-color: #f0f0f0;
  margin-inline: 30px;
  padding-block: 5px;
}

.list-with-text li {
  margin-block: 5px; 
  margin-left: 10px;
  color: #455994;
}

p {
  display: inline-block;
  width: 100%;
}


footer p {
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  font-size: 12px;
}